h1{font-size: 3em;
font-family: cursive;}
h3{font-weight: lighter;
}
h2{
    font-size: 20px ;
    font-weight: lighter;
    margin-bottom: 1px;

}
h5{margin-top: 1px;
font-size: 15px;
font-weight: lighter;}
h3{
    font-family: monospace;
}
.grd{
    /* background: linear-gradient(grey,white,white); */
    border: 0;
    width: 80%;
    height: 1px;
    background: radial-gradient(#2e2d2c,#dadada,white);
    
    
}

.txt1{
    font-family:'Times New Roman', Times, serif;
    width: 40%;
    float: left;
    padding-left: 48px;
    line-height: 21px;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
    
}
.txt2{
    font-family:'Times New Roman', Times, serif;
    width: 40%;
    float: right;
    line-height: 21px;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
    /* padding-right:30% ; */
}
.txt3{
    font-family:'Times New Roman', Times, serif;
    width: 40%;
    float: left;
    padding-left: 48px;
    line-height: 21px;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
}
.txt4{ 
    font-family:'Times New Roman', Times, serif;
    width: 40%;
    float: right;
    
    line-height: 21px;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;

}
.redio{
    float: right;
    margin-right:50px;
}
 .checkbox{ 
   float:right;
   
}
.botton{

        margin-top: 13px;
        padding: 4px;
}
.clear{
    clear: both;
}
.txt6{
    padding-left: 65px;
    text-align: justify;
    width:90%;

}
.grd1{
    /* background: linear-gradient(grey,white,white); */
    border: 0;
    width: 80%;
    height: 1px;
    background: radial-gradient(#2e2d2c,#dadada,white);
}
/* .txt1,.txt2,.txt3,.txt4{ 
    padding-left: 65px;
    text-align: justify;
    width: 35%;
    padding-right: 130px;
}